.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


   /*  */
/*  */
.background-video-container {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* Ensures the video is behind all other elements */
}

/* added localhostpage */
/*  */
/*  */
/*  */
/* Video container styling */
.video-container {
  position: relative;
  width: 100%;
  height: 100vh; /* Full viewport height */
  overflow: hidden;
}

/* Full-width video */
.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the video covers the entire container */
}

/* Center button over the video */
.center-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the button exactly */
  padding: 15px 30px;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
}

.center-button:hover {
  background-color: rgba(0, 0, 0, 0.9); /* Darker background on hover */
}



/* viewadopt */


.background-container {
  background: linear-gradient(145deg, #f0f0f0, #e0e0e0);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.title {
  font-family: 'Roboto', sans-serif;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.pet-card {
  transition: transform 0.3s ease-in-out;
  border-radius: 10px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.pet-card:hover {
  transform: translateY(-10px);
}

.adopt-button {
  margin-top: 10px;
  background-color: #4caf50;
}

.modal-box {
  background-color: #fff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.2);
}

.back-button {
  background-color: #3f51b5;
  color: white;
}

.pet-card img {
  border-radius: 10px;
  object-fit: cover;
}
.faded {
  opacity: 0.3;
  pointer-events: none; /* Disable interaction with the faded card */
}
